/* Font */
@font-face {
    font-family: gabarito;
    src: url("gabarito_variable.woff");
}
* {
    font-family: gabarito;
    transition: 0.4s;
	box-sizing: border-box;
    cursor: default;
}

/* Miscellaneous appearance */
body {
    overflow: hidden;
}
.bodydiv {
    visibility: visible;
}
.text-center {
    text-align: center;
}
.spaceBetweenTables {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    float: right;
}
#clock {
    color: #161616;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
h2 {
    color: #161616;
}

/* Table appearance */
table {
    font-weight: lighter;
    width: 100%;
    filter: blur(0px);
    float: right;
}
th {
    background-color: #D0FFAA ;
    color: #161616;
    text-align: center;
    padding: 20px;
}
td {
    background-color: white;
    padding: 10px;
    text-align: center;
}

/* Subjects appearance */
.horas{
    background-color: #AABEFF;
    font-weight: bold;
}
.iso{
    background-color: #CB997E;
    
}
.lmsi{
    background-color: #DDBEA9;
    
}
.gbd{
    background-color: #FFE8D6;
    
}
.fol{
    background-color: #B7B7A4;
    
}
.iasir{
    background-color: #A5A58D;
    
}
.par{
    background-color: #6B705C;
    
}
.fh{
    background-color: #F5DEB3;
    
}.recreo{
    background-color: #BDDFD5;
}

/* Sidebar appearance and settings */
.sidebar {
	height: 100%;
	position: absolute;
	z-index: 1;
    bottom: 0;
	top: 0;
	left: 0;
	background-color: transparent;
	overflow-x: hidden;
	padding-top: 60px;
    display: none;
}
.sidebar li {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	
}
li:hover {
    color: #161616;
}
.li1::after {
    content: '';
    display: block;
    height: 2px;
    width: auto;
    background-color: #161616;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}
.li1:hover::after {
    transform: scaleX(0.32);
    transition: transform 0.4s ease;
}
.li2::after {
    content: '';
    display: block;
    height: 2px;
    width: auto;
    background-color: #161616;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}
.li2:hover::after {
    transform: scaleX(0.37);
    transition: transform 0.4s ease;
}
.li3::after {
    content: '';
    display: block;
    height: 2px;
    width: auto;
    background-color: #161616;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}
.li3:hover::after {
    transform: scaleX(0.54);
    transition: transform 0.4s ease;
}
.li4::after {
    content: '';
    display: block;
    height: 2px;
    width: auto;
    background-color: #161616;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease;
}
.li4:hover::after {
    transform: scaleX(0.6);
    transition: transform 0.4s ease;
}
.sidebar .closebtn {
	position: absolute;
	top: 0;
    right: 0;
	font-size: 36px;
}
.openbtn {
	font-size: 30px;
	cursor: pointer;
	color: #4b4b4b;
	padding-left: 40px;
	border: none;
	background-color: transparent;
	z-index: 0;
	float: left;
}
.openbtn:hover {
	color: #161616;
}
.closebtn:hover {
	color: #161616;
}
.closebtn {
	position: absolute;
	top: 0;
	margin-right: 15px;
	font-size: 40px;
	background-color: transparent;
	cursor: pointer;
}
ul {
	list-style-type: none;
}
li {
    cursor: pointer;
}