/* General styling */
@font-face {
    font-family: sfui;
    src: url("sfui.woff");
}
@font-face {
    font-family: segoeui;
    src: url(segoeui.woff);
}
* {
    font-family: sfui;
    transition: 0.4s;
	box-sizing: border-box;
}
body {
    background-color: #161616;
}
h1 {
    color: white;
}
table {
	filter:blur(0px);
}
.copyright {
    color: white;
    margin-top: 40px;
    text-align: center;
}
.bodydiv {
    visibility: visible;
}
.text-center {
    text-align: center;
}

/* Table styling */
th {
    background-color: #D0FFAA ;
    color: black;
    text-align: center;
    padding: 20px;
    border: 0,25px solid black;
}
td {
    background-color: black;
    padding: 10px;
    text-align: center
}
table {
    font-weight: lighter;
    width: 100%
}

/* Subjects styling */
.horas{
    background-color: #AABEFF ;
    font-weight: bold;
}
.iso{
    background-color: #EBFF8F;
    transition: 0.2s;
    transition-delay: 0.05s;
}
.lmsi{
    background-color: #FFA38F;
    transition: 0.2s;
    transition-delay: 0.05s;
}
.gbd{
    background-color: #F8AAFF;
    transition: 0.2s;
    transition-delay: 0.05s;
}
.fol{
    background-color: #FFDB8F;
    transition: 0.2s;
    transition-delay: 0.05s;
}
.iasir{
    background-color: #B3FF8F;
    transition: 0.2s;
    transition-delay: 0.05s;
}
.par{
    background-color: #ffaac5;
    transition: 0.2s;
    transition-delay: 0.05s;
}
.fh{
    background-color: #fda0a0;
    transition: 0.2s;
    transition-delay: 0.05s;
}
.recreo{
    background-color: #7AFFDD;
}

/* Tooltips appearance */
.iso2 {
    color: white;
}
.lmsi2 {
    color: white;
}
.gbd2 {
    color: white;
}
.fol2 {
    color: white;
}
.par2 {
    color: white;
}
.iasir2 {
    color: white;
}
.fh2 {
    color: white;
}

/* Button appearance */
.wrap {
    height: 100%;
    margin-top: 40px;
    display: flex;
    align-items: right;
    justify-content: center;
  }
.button {
    background: linear-gradient(#073763, #15d798);
    border-radius: 10px;
    border-style: none;
    padding: 20px 40px;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    transition: all .3s ease-in-out 0s;
    cursor: pointer;
    display: inline-block;
}